body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 2em;
  text-align: center;
  animation: fadeIn 2s ease-in-out, colorChange 4s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  from {
    color: #333;
  }
  to {
    color: #ff6347;
  }
}
